<div class="container mt-5 mb-5">
    <div class="card">
        <div class="card-header">
            <i class="fa fa-user"></i>
             New User Registration
        </div>

        <div class="card-body">
            <form action="" *ngIf="registerForm" [formGroup]="registerForm">

                <div class="mb-3">
                    <label for="username" class="form-label">Username
                    <sup class="text-danger">*</sup>
                    </label>

                    <input formControlName="username" type="text" class="form-control" id="username" placeholder="Enter Username" [ngClass]="
                    {'is-invalid': registerForm.controls.username.invalid && registerForm.controls.username.dirty, 
                    'is-valid': registerForm.controls.username.valid}">

                    <span *ngIf="registerForm.controls.username.invalid && registerForm.controls.username.dirty" class="text-danger">
                        Username is a required Field!
                    </span>
                </div>

                <div class="mb-3">
                    <label for="email" class="form-label">Email
                    <sup class="text-danger">*</sup>
                    </label>

                    <input formControlName="email" type="email" class="form-control" id="email" placeholder="Enter Email Address" [ngClass]="{'is-invalid': registerForm.controls.email.invalid && registerForm.controls.email.dirty, 
                    'is-valid': registerForm.controls.email.valid}">

                    <span *ngIf="registerForm.controls.email.invalid && registerForm.controls.email.dirty" class="text-danger">
                        Email Address is a required Field!
                    </span>
                </div>

                <div class="mb-3">
                    <label for="password" class="form-label">Password
                    <sup class="text-danger">*</sup>
                    </label>
                    
                    <input formControlName="password" type="password" class="form-control" id="password" placeholder="Enter Password" [ngClass]="{'is-invalid': registerForm.controls.password.invalid && registerForm.controls.password.dirty, 
                    'is-valid': registerForm.controls.password.valid}">

                    <span *ngIf="registerForm.controls.password.invalid && registerForm.controls.password.dirty" class="text-danger">
                        Password is a required Field!
                    </span>
                </div>

                <div class="mb-3">
                    <label for="first_name" class="form-label">First Name
                    <sup class="text-danger">*</sup>
                    </label>

                    <input formControlName="first_name" type="text" class="form-control" id="first_name" placeholder="Enter First Name" [ngClass]="{'is-invalid': registerForm.controls.first_name.invalid && registerForm.controls.first_name.dirty, 
                    'is-valid': registerForm.controls.first_name.valid}">

                    <span *ngIf="registerForm.controls.first_name.invalid && registerForm.controls.first_name.dirty" class="text-danger">
                        First Name is a required Field!
                    </span>
                </div>

                <div class="mb-3">
                    <label for="last_name" class="form-label">Last Name
                    <sup class="text-danger">*</sup>
                    </label>

                    <input formControlName="last_name" type="text" class="form-control" id="last_name" placeholder="Enter Last Name" [ngClass]="{'is-invalid': registerForm.controls.last_name.invalid && registerForm.controls.last_name.dirty, 
                    'is-valid': registerForm.controls.last_name.valid}">

                    <span *ngIf="registerForm.controls.last_name.invalid && registerForm.controls.last_name.dirty" class="text-danger">
                        Last Name is a required Field!
                    </span>
                </div>

                <div class="mb-3">
                    <label for="phone" class="form-label">Phone Number
                    <sup class="text-danger">*</sup>
                    </label>
                    
                    <input formControlName="phone" type="text" class="form-control" id="phone" placeholder="Enter Phone Number" [ngClass]="{'is-invalid': registerForm.controls.phone.invalid && registerForm.controls.phone.dirty, 
                    'is-valid': registerForm.controls.phone.valid}">

                    <span *ngIf="registerForm.controls.phone.invalid && registerForm.controls.phone.dirty" class="text-danger">
                        Phone is a required Field!
                    </span>
                </div>

                <button (click)="registerUser()" [routerLink]="['/']" [disabled]="registerForm.invalid" class="btn btn-success"><i class="fa fa-arrow-right" ></i> Proceed</button>

                <button class="btn btn-danger ms-3"
                [routerLink]="['/']"><i class="fa fa-times"></i> Cancel</button>
                
            </form>
        </div>

    </div>
</div>
