<div class="container my-5">
    <div class="row row-cols-3">
        <div class="col mb-3">
            <div class="card fade-card">
                <div class="card-body text-center">
                    Fade In
                </div>
            </div>
        </div>
        <div class="col mb-3">
            <div class="card color-card">
                <div class="card-body text-center">
                    Color Card
                </div>
            </div>
        </div>
        <div class="col mb-3">
            <div class="card grow-card">
                <div class="card-body text-center">
                    Grow Card
                </div>
            </div>
        </div>
        <div class="col mb-3">
            <div class="card shrink-card">
                <div class="card-body text-center">
                    Shrink Card
                </div>
            </div>
        </div>
        <div class="col mb-3">
            <div class="card rotate-card">
                <div class="card-body text-center">
                    Rotate Card
                </div>
            </div>
        </div>
        <div class="col mb-3">
            <div class="card square2circle-card">
                <div class="card-body text-center">
                    Square To Circle Card
                </div>
            </div>
        </div>
        <div class="col mb-3">
            <div class="card threed-card">
                <div class="card-body text-center">
                    3D Card
                </div>
            </div>
        </div>
        <div class="col mb-3">
            <div class="card swing-card">
                <div class="card-body text-center">
                    Swing Card
                </div>
            </div>
        </div>
        <div class="col mb-3">
            <div class="card inset-card">
                <div class="card-body text-center">
                    Inset Card
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col text-end">
        <button class="btn btn-primary loading-button">
            Loading ...
        </button>
    </div>
    </div>
</div>
