<div class="container">

    <p>hello {{firstName}}!</p>

    <div class="card" style="width: 18rem;">
        <img src="http://placekitten.com/200/300" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">{{title}}</h5>
          <input type="text" [(ngModel)]="title"/>
          <p class="card-text">Wakanda Forever X</p>
          <a href="#" class="btn btn-primary">Go somewhere</a> <br>
          <button (click)="getTitle()" class="btn btn-secondary"> Console</button>
        </div>
    </div>
<br>
      <div class="container">
        <p class="lead">Calculator</p>
        
      </div>

</div>
