<div class="container">

  <div class="card">
    <div class="card-body">
      <div class="input-group">
        <span class="input-group-text" (click)="searchCar()">
          <i class="fa fa-search"></i>
        </span>
        <input type="text" class="form-control" (keyup)="searchCar()" aria-label="Amount (to the nearest dollar)" 
              placeholder="Search car" [(ngModel)]="searchText">
        <span class="input-group-text" (click)="clearSearch()">
          <i class="fa fa-times"></i>
        </span>
      </div>
    </div>
  </div>

    <table class="table mt-3">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">name</th>
            <th scope="col">body_type</th>
            <th scope="col">price</th>
            <th scope="col">Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let car of filterCarlist; let i=index">
            <th scope="row">{{i + 1}}</th>
            <td>{{car.name}}</td>
            <td>{{car.body_type}}</td>
            <td>{{car.currency}} {{car.price}}</td>
            <td><button class="btn btn-sm btn-danger" 
                       (click)="deleteCar(car.ref)">Delete</button></td>
          </tr>
        </tbody>
      </table>

</div>