/* You can add global styles to this file, and also import other style files */

@import "~bootstrap/scss/bootstrap.scss";
@import "~font-awesome/css/font-awesome.css";

$light-blue: #add8e6;
$black: #000;
$crimson: #990000;
$indigo: #6610f2;

.theme-blue {
  background-color: $light-blue;
  color: $black;
  .nav-link,
  .nav-brand,
  .loginText,
  .regBtn {
    color: $black !important;
  }
}

.theme-danger {
  @extend .navbar-dark;
  @extend .bg-danger;

  .regBtn {
    color: $black !important;
  }
}

.theme-dark {
  @extend .navbar-dark;
  @extend .bg-dark;

  .nav-link,
  .nav-brand,
  .loginText,
  .regBtn {
    color: $crimson !important;
  }
}

.theme-indigo {
  background-color: $indigo;
  color: $indigo;
  .nav-link,
  .nav-brand,
  .loginText,
  .regBtn {
    color: rgb(255, 255, 255) !important;
  }
}

footer {
  position: -ms-page;
  height: 200px;
  margin-top: -200px;
}

.regBtn {
  width: 100px;
}

.card-light {
  min-height: 40px;
  min-width: 30%;
  height: auto !important;
  &.dotted {
    border: 2px dashed #eeeeee;
    padding: 2.8em 6em;
    background-color: transparent;
  }
  @extend .mt-4;
  @extend .text-center;
  @extend .text-muted;
}

input::-ms-reveal,
input::-ms-clear {
  display: none;
}

.card-template {
  min-height: 7em;
}

.fa-universal-access {
  width: 10px;
}

.starComp {
  background-image: url(../../angularSandBox/src/app/img/space.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

// .starcard {
//   min-width: none;
// }
